{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ profile_update.user }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            {% if is_owner %}
                <h1>Profile {{ profile_update.user }} update</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <p></p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                </form>
            {% else %}
                <h3>You can edit only your </h3>
                <a href={% url 'profile_update' request.user.profile.pk %}><h3>profile</h3></a>
            {% endif %}
        </div>
        <div class="col-sm"></div>
    </div>
{% endblock content %}
