{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add Animal{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <h1>Add Animal</h1>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <p></p>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </form>
        </div>
        <div class="col-sm"></div>

    </div>
    </div>


{% endblock content %}