<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div class="col-12">

<div class="row">
<div class="col-1"></div>
    <div class="col-10 text-center">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="{% url 'animal_list' %}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                AnimalDB
                {#            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">#}
                {#                <use xlink:href="#bootstrap"/>#}
                {#            </svg>#}
            </a>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'animal_list' %}" class="nav-link px-2 link-secondary">Home</a></li>
                {#            <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>#}
                {#            <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>#}
                {#            <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>#}
                {#            <li><a href="#" class="nav-link px-2 link-dark">About</a></li>#}
            </ul>
            {% if request.user.is_authenticated %}
                Hello, <a href={% url 'profile_detail' request.user.profile.id %}>{{ request.user }}</a>
                <a class="btn btn-outline-primary me-2" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <div class="col-md-3 text-end">
                    <a class="btn btn-outline-primary me-2" href="{% url 'login' %}">Login</a>
                    <a class="btn btn-primary" href={% url 'registration' %}>Sign-up</a>
                </div>
            {% endif %}
        </header>

        {% block content %}
        {% endblock content %}
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>
